VisualElement {
}

.buttons-container {
    position: absolute;
    width: 340px;
    height: 600px;
    left: 105px;
    top: 382px;
}

.menu-active-button {
    margin-bottom: 44px;
    height: 67px;
}
